@layer utilities {
  .text-outline {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  .text-promo-outline {
    color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
  }
  @keyframes scroll-x {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  @keyframes scroll-x-reverse {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
  }
  .animate-scroll {
    animation: scroll-x 20s linear infinite;
  }
  .animate-scroll-reverse {
    animation: scroll-x-reverse 20s linear infinite;
  }
  .marq-ho:hover {
    animation-play-state: paused;
  }
}




@keyframes floatSlow {
          0%, 100% { transform: translateY(0); }
          50% { transform: translateY(-20px); }
        }
        .float-animation1 { animation: floatSlow 6s ease-in-out infinite; }
        .float-animation2 { animation: floatSlow 5s ease-in-out infinite; }
        .float-animation3 { animation: floatSlow 4s ease-in-out infinite; }